=size($width,$height)
  width: $width
  height: $height

.comments-container
  margin-bottom: 50px


  &.post
    width: 60%

.comment-author
  position: relative

  span 
    display: none
    
cite.fn
  color: $accent-color
  font:
    weight: bolder
    style: normal
  margin-left: 20px

  &:after
      content: " :"

.comment
  list-style: none

.comment-awaiting-moderation
  display: none

.comment-meta,.reply
  padding-left: 55px

.comment-body
  padding: 5px 
  border-top: 1px solid #eee`
  min-height: max-content

  p 
    padding-left: 55px

ul.children
  margin-right: 0

.comment-meta
  a 
    text-decoration: none
    color: #aaa

.reply
  text-align: right
  a 
    text-decoration: none
    padding: 5px
    background: $accent-color
    color: #fff
    margin-bottom: 5px

.comments-container
  display: flex
  flex-direction: column

#reply-title
  padding: 25px
  border-top: 1px solid $accent-color

#commentform
  width: 100%
  overflow: hidden

  p 
    display: flex
    flex-direction: column
    padding: 0 25px

  .form-submit
    display: flex
    flex-direction: row
    padding: 0 25px

    [type="submit"]
      background: $accent-color
      color: #fff
      border: none

      &:hover
        background: lighten($accent-color, 10%)
  textarea
    width: 600px  
    padding: 5px
  [type="text"]
    height: 38px
    padding: 5px
    width: 300px

  label
    font-weight: bold

@media (max-width: $s_smartphone)
  .comments-container.post
    width: 100%
  
  #commentform
    #comment
      width: 100%