
.page-section
  width: 100%
  min-height: 100vh
  padding: 10vh 50px 20px 50px 

  .section-title
    margin: 2px 0 40px 0
  
.search-section
  display: flex
  padding: 0 0 0 0
  
.results
  margin: 18vh 50px 20px 50px
  width: 60%
  background: white

  a
    color: $h1-color
    font-weight: bolder
    text-decoration: none
    margin: 0 5px

    &:hover
      color: $accent-color

// contactos y donaciones
.card-list-container
  min-height: 240px
  height: max-content
  align-self: center

.contacts-links
  flex-direction: column

.img-big-logo
  width: 350px
  height: 350px

#donaciones
  background: $accent-color
  min-height: 70vh
  height: max-content

  .section-title,
  .sub-section-title
    color: $light-color
    margin-bottom: 50px

  p
    color: darken($light-color,10%)
    font-size: 1.3em
    padding: 0 15px 0 0 
    text-align: justify
    margin-bottom: 20px
    height: max-content

.info-acount
  flex-direction: column

.charity-box,
.contact-item
  background: #fff
  width: max-content
  padding: 15px
  border-radius: 5px
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4)
  cursor: pointer
  transition: all ease .3s

  &:hover
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5)
    transform: scale(1.1)

.bank-acount
  color: $accent-color

.contact-item
  margin: 2%
  width: 250px
  text-align: left
  color: $light-color
#c-fb
  background: $fb-color

#c-email
  background: $googlep-color
#c-twitter
  background: $twitter-color
/* smartphone grid system

@media (max-width: $s_smartphone)
  .search-section
    flex-direction: column
  .results
    width: 100%
    margin: 18vh 0 0 0
    padding: 0 2%


/*css tommy 

#single
  padding-top: 16vh
  margin-left: 3%
  min-height: 120vh
  width: 60%

  h1
    margin-bottom: 5px

  #titulo 
    display: block
    padding: 0
    margin: 0
    text-decoration: none
    color: $h1-color
    font-size: 2.1em
    font-weight: 300

  .post-categories 
    list-style-type: none
    display: inline

    li
      display: inline
      margin: 2px 
    a 
      color: $accent-color
      text-decoration: none
     

#fecha 
  font-size: 16px
  float: left
  margin-right: 12px
  color: lighten($h1-color,10%)


#separador 
  height: 1px
  background: #aaa
  border: none
  width: 100%

#texto 
  margin: 40px 0%
  width: 80%

  p
    color: $h1-color
    font-size: 20px
    margin-bottom: 10px
    word-spacing: 1px
    text-align: justify
