
form[role="search"]
  +makeFlex(0,row,flex-end,flex-end)
  position: absolute
  background: #fff
  height: 100%
  right: 50px
  display: none
  padding-bottom: 5px

  div
    +makeFlex(50%,row,flex-end,center)
    height: 50%
    border: 1px solid #aaa
    border-radius: 3px 

  .input
    background: transparent
    height: 98%
    color: #555

  #searchsubmit
    min-width: 10px
    width: 10%
    background: transparent
    min-height: 40px
    height: 40px
    border: none
    display: none
    

  #s
    border: none
    width: 90%
    height: 100%
    padding: 3%
    font:
      size: 20px
      weight: bolder 
    color: $h1-color


    &:focus
      outline: none

  label
    display: none

  .search-img
    margin-right: 10px


.toggle-search
  position: absolute
  right: 15px
  bottom: 0
  cursor: pointer
  
  i
    font-size: 30px
    color: $accent-color

@media (max-width: $s_smartphone)

  form[role="search"]
    width: 0

    div
      width: 100%
      height: 90%
      border: 1px solid #aaa
      border-radius: 3px
      border: none

      #s
        width: 100%
        height: 100%
  

  .toggle-search
    position: absolute
    right: 10px
    bottom: 7px
    cursor: pointer