#sidebar
  background: white
  width: 38%
  float: right
  padding: 18vh 2% 2% 2%

.fixed-side-bar
  background: crimson
  width: 38%
  position: absolute
  right: 0
  top: 0
  #sidebar
    
    width: 100%

    .static-widget
      background: $accent-color
      border-radius: 7px
      color: $light-color 
      p,
      h2,
      a
        background: transparent
        color: $light-color
/* smartphone grid system

@media (max-width: $s_smartphone)
  #sidebar
    width: 100%

  .fixed-side-bar
    background: crimson
    width: 100%
    position: relative
    right: 0
    top: 0

