.card-list-container
  +makeFlex(100%,row,space-between,center)
  height: 200px + 40px
  overflow: hidden


  &:visited
    color: $p-color

.card-post,
.img-posts
  height: 220px
  width: 32%
  border: 1px solid #ddd
  border-radius: 2px
  box-shadow: 1px 2px 2px transparentize(#aaa,.7)
  overflow: hidden
  margin: 2% 0
  padding: 2% 3%
  transition: all ease .5s
  position: relative

.card-post
  &:hover
    box-shadow: 1px 2px 2px transparentize(#aaa,.4)
  
.post-title,p
  margin-bottom: 10px

.post-date
  color: #aaa
  margin-bottom: 10px

.read-more
  position: absolute
  bottom: 10px
  left: 10%
  text-decoration: none
  background: lighten($h1-color,80%)
  color: lighten($h1-color,10%)
  height: 38px
  display: block
  padding: 2% 5%S
  transition: all ease .3s

  &:hover
    color: $accent-color

.img-posts
  padding: 0 0
  position: relative

  img
    width: 100%
    height: 100%

  .post-title-prev
    background: transparentize($accent-color,.2)
    position: absolute
    bottom: 0
    color: #fff
    padding: 5px

  .img-post-detail
    position: absolute
    background: transparentize($accent-color,.2)
    color: #fff
    width: 100%
    height: 100%
    text-align: center
    padding: 20px 0
    transition: all ease .5s

    .post-title, .post-date, p
      color: #fff
  
  &:hover 
    .img-post-detail
      top: 0

    .post-title-prev
      display: none

// wide cards

.wide-card
  display: flex
  background: white
  border: 1px solid transparentize($h1-color,.9)
  border-radius: 5px
  width: 100%
  flex-direction: row
 

  .post-title
    color: $h1-color
    
  .wide-card-image
    width: 100%
    height: 100%
    border-radius: 3px

  .a-title
      text-decoration: none
      color: $h1-color

      &:hover
        color: $accent-color

  .read-more
    position: absolute
    bottom: 0px
    left: 3%
    display: block

.stared-post
  width: 100%
  height: 300px
  display: flex
  position: relative

  img
    width: 50%
    height: 100%

  div
    padding: 20px

  .post-date 
    margin-bottom: 10px

  button
    bottom: 0

@media (max-width: $s_smartphone)
  .card-list-container
    +makeFlex(100%,column,space-between,center)
    height: max-content

  .card-post,
  .img-posts
    height: 180px
    width: 100%

  .wide-card
    .read-more
      position: relative
      bottom: 0px
      left: 3%
      display: block

  .stared-post
    height: max-content
    flex-direction: column

    img
      width: 100%
      height: 100%

    .text-card
      width: 100%

    .post-date 
      margin-bottom: 10px

