
.separator-container
  +makeFlex(100%,row , center,center)
  height: 2px

  div
    height: 100%
    background: $accent-color
    width: 15%
    padding: 0 $page-content-padding

.static-widget
  margin: 25px
  background: #fff
  padding: 10px

  h2
    margin: 5px 0 

  ul
    list-style: none
  a 
    color: $accent-color
    text-decoration: none

.comments-container
  padding: 0 50px 

  h3
    margin-bottom: 10px

  ul,ol 
    list-style: none

.comment-body
  margin-left: 15px

ul.children
  list-style: noneS
  margin: 1% 3%

  
/* smartphone grid system

@media (max-width: $s_smartphone)

  .separator-container
    +makeFlex(100%,row , center,center)
    height: 1px
    padding: 0 10px
  

    div
      width: 100%
  



