// normal size: 
.col-3,.one-third
  width: 33%

.col-4,.one-four
  width: 40%

.col-5,.half
  width: 50%

.col-6,
.one-six
  width: 60%
  padding: 0 5%

.col-10,.full-wide
  width: 100%

.media-row
  display: flex
  width: 100%

.row-2
  height: 20vh
.row-6 
  height: 60vh
.row-7 
  height: 70vh

.row-8 
  height: 80vh


  //helpers 

.vcenter
  display: flex
  text-align: center
  align-items: center
  flex-direction: column

.left
  justify-content: flex-end
  text-align: left

.center
  display: flex
  text-align: center
  justify-content: center
  align-items: center
  

.text-center
  text-align: center

.overflow-hidden
  overflow: hidden


// tablets sm
@media(max-width: 990px )

  
  .hidden-sm
    visibility: hidden
    height: 0


// mobile xs
@media (max-width: 768px)

  h2
    font-size: 18px
  .hidden-xs
    visibility: hidden
    height: 0

  // article
  //   padding: 0 0
  //   font-size: .8em

  footer
    flex-direction: column

    div
      width: 100%
    
      &:nth-child(1)
        order: 1
        padding: 3% 0

  .col-3-x
    width: 33%

  .col-4-x
    width: 40%
  
  .col-5-x
    width: 50%
  
  .col-6-x
    width: 60%
  
  .col-10-x
    width: 100%
    margin: 5px

  .row-2
    min-height: 20vh
    height: max-content
  .row-6 
    min-height: 60vh
    height: max-content
  .row-7 
    min-height: 70vh
    height: max-content

  .row-8 
    height: 80vh

  .col-3,
  .one-third,
  .col-4,
  .one-four,
  .col-5,
  .half,
  .col-6,
  .one-six,
  .col-10,.full-wide
    width: 100%

  //helpers 

  .vcenter
    display: flex
    text-align: center
    align-items: center
    justify-content: center

  .left
    justify-content: flex-end
    text-align: left
  
.a-right
  position: absolute
  right: $page-content-padding

.a-down
  display: flex
  justify-content: center
  align-items: flex-end

.a-center
  display: flex
  justify-content: center
  align-items: center

  .center
    display: flex
    text-align: center
    justify-content: center
    align-items: center

  .text-center
    text-align: center

  .overflow-hidden
    overflow: hidden

// helpers


=makeFlex($width: 100%,$direction: row,$justify: flex-start,$align: flex-start)
  width: $width
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align

=content-padding($padding: $page-content-padding)
  padding: 0 $padding
