* {
  box-sizing: border-box; }

body.login {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background: dodgerblue;
  color: #fff;
  padding: 0 20%; }
  body.login .info-container,
  body.login #login {
    width: 40%; }

.info-container {
  display: flex;
  flex-direction: column;
  color: #f7f7f7;
  justify-content: center;
  align-items: flex-start; }
  .info-container h1 {
    font-size: 40px;
    margin: 50px 0; }
  .info-container p {
    font-size: 22px;
    margin: 10px 0; }

body.login div#login {
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  body.login div#login h1 a {
    color: #ddd;
    background-image: none;
    display: none; }
  body.login div#login form#loginform {
    background: transparent;
    box-shadow: none; }
    body.login div#login form#loginform p label input[type="text"],
    body.login div#login form#loginform p label input[type="password"] {
      font-size: 18px;
      height: 38px;
      padding: 0 2%; }

body.login div#login p#nav a {
  color: #ddd; }

body.login div#login p#backtoblog a {
  color: #ddd; }

input#wp-submit {
  height: 48px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-shadow: none;
  border: 1px solid #f8f8f8;
  border-radius: 0;
  margin-top: 5px;
  box-shadow: none;
  transition: all ease .5s; }
  input#wp-submit:hover {
    background: rgba(0, 0, 0, 0.3); }

.login .message {
  margin: 0 24px 0 24px;
  color: #555; }

.login #login_error {
  color: #555;
  margin: 0 24px 0 24px;
  margin-left: 24px; }

@media (max-width: 768px) {
  body.login {
    flex-direction: column;
    justify-content: space-around;
    background: dodgerblue;
    color: #fff;
    padding: 0 10%; }
    body.login .info-container {
      width: 100%; }
    body.login div#login {
      width: 100%; } }
