$header-text-color:  #f8f8f8
$dark-color: #272727
$accent-color: dodgerblue
$light-color: #f8f8f8
$main-header-color: #3e4951
$sub-header-color: #222
$p-color: #f7f7f7
$block-quote-color: #666

*
  box-sizing: border-box

body.login
  display: flex
  flex-direction: row-reverse
  justify-content: space-around
  background: $accent-color
  color: #fff
  padding: 0 20%
  
  .info-container,
  #login
    width: 40%

.info-container
  display: flex
  flex-direction: column
  color: $p-color
  justify-content: center
  align-items: flex-start

  h1
    font-size: 40px
    margin: 50px 0 

  p 
    font-size: 22px
    margin: 10px 0

body.login div#login 
  margin: 0
  padding: 5px
  display: flex
  justify-content: center
  flex-direction: column
  


  h1
    a 
      color: #ddd
      background-image: none
      display: none


  form#loginform 
    background: transparent
    box-shadow: none
    

    p 

      label 

        input[type="text"],
        input[type="password"]
          font-size: 18px
          height: 38px
          padding: 0 2%


      &#user_login 


      &#user_pass 


    p.forgetmenot 


    p.forgetmenot input#rememberme 


body.login div#login form#loginform p.submit 


body.login div#login form#loginform p.submit input#wp-submit 


body.login div#login p#nav 


body.login div#login p#nav a 
  color: #ddd


body.login div#login p#backtoblog 
  a
    color: #ddd

input#wp-submit
  height: 48px
  background: transparentize(#000,.9)
  width: 100%
  text-shadow: none
  border: 1px solid $light-color
  border-radius: 0
  margin-top: 5px
  box-shadow: none
  transition: all ease .5s

  &:hover
    background: transparentize(#000,.7)

.login .message
  margin: 0 24px 0 24px
  color: #555

.login #login_error
  color: #555
  margin: 0 24px 0 24px
  margin-left: 24px

@media (max-width: 768px)
  body.login
    flex-direction: column
    justify-content: space-around
    background: $accent-color
    color: #fff
    padding: 0 10%

    .info-container
      width: 100%

    div#login 
      width: 100%

