/*
  Theme Name: Union JPD
  Author: Insane Code, Jesus Guerrero and Tommy Suazo
  Author URI: https://jesusantguerrero.github.io
  Description: Tema para La Union JPD
  Version: 1.0
  License: GNU General Public License v2 or later
  License URI: http: */
/* Template */
/* all my basic stuff */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  margin: 0;
  overflow-x: hidden; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* medium Computers grid system
  @media (min-width: $s_desktop_md) and (max-width: $s_desktop_lg - 1) */
/* tablets grid system
  @media (min-width: $s_tablet) and (max-width: $s_desktop_md - 1) */
/* smartphone grid system
  @media (max-width: $s_smartphone) */
.col-3, .one-third {
  width: 33%; }

.col-4, .one-four {
  width: 40%; }

.col-5, .half {
  width: 50%; }

.col-6,
.one-six {
  width: 60%;
  padding: 0 5%; }

.col-10, .full-wide {
  width: 100%; }

.media-row {
  display: flex;
  width: 100%; }

.row-2 {
  height: 20vh; }

.row-6 {
  height: 60vh; }

.row-7 {
  height: 70vh; }

.row-8 {
  height: 80vh; }

.vcenter {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column; }

.left {
  justify-content: flex-end;
  text-align: left; }

.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; }

.text-center {
  text-align: center; }

.overflow-hidden {
  overflow: hidden; }

@media (max-width: 990px) {
  .hidden-sm {
    visibility: hidden;
    height: 0; } }

@media (max-width: 768px) {
  h2 {
    font-size: 18px; }
  .hidden-xs {
    visibility: hidden;
    height: 0; }
  footer {
    flex-direction: column; }
    footer div {
      width: 100%; }
      footer div:nth-child(1) {
        order: 1;
        padding: 3% 0; }
  .col-3-x {
    width: 33%; }
  .col-4-x {
    width: 40%; }
  .col-5-x {
    width: 50%; }
  .col-6-x {
    width: 60%; }
  .col-10-x {
    width: 100%;
    margin: 5px; }
  .row-2 {
    min-height: 20vh;
    height: max-content; }
  .row-6 {
    min-height: 60vh;
    height: max-content; }
  .row-7 {
    min-height: 70vh;
    height: max-content; }
  .row-8 {
    height: 80vh; }
  .col-3,
  .one-third,
  .col-4,
  .one-four,
  .col-5,
  .half,
  .col-6,
  .one-six,
  .col-10, .full-wide {
    width: 100%; }
  .vcenter {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .left {
    justify-content: flex-end;
    text-align: left; } }

.a-right {
  position: absolute;
  right: 100px; }

.a-down {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.a-center {
  display: flex;
  justify-content: center;
  align-items: center; }
  .a-center .center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .a-center .text-center {
    text-align: center; }
  .a-center .overflow-hidden {
    overflow: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  color: #555; }

h1 {
  color: #3e4951; }

h2,
h3,
h4,
h5,
h6 {
  color: #54636e; }

body {
  font-family: calibri, sans-serif; }

/* my Components */
/* buttons */
button,
.btn,
[type="button"],
[type="submit"] {
  display: block;
  text-decoration: none;
  height: 48px;
  min-width: 150px;
  max-width: 200px;
  width: max-content;
  cursor: pointer;
  width: content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bolder; }

.over-transparent {
  background: rgba(39, 39, 39, 0.5);
  color: #f8f8f8;
  border: 2px solid #00a0ff; }
  .over-transparent:hover {
    background: rgba(0, 160, 255, 0.8); }

.over-light {
  background: #00a0ff;
  color: #f8f8f8;
  border: 2px solid #00a0ff; }
  .over-light:hover {
    background: #33b3ff; }

.over-light-inverted {
  background: #f8f8f8;
  color: #00a0ff;
  border: 2px solid #00a0ff; }
  .over-light-inverted:hover {
    background: #33b3ff;
    color: #f8f8f8; }

.btn-white {
  background: #fff;
  color: #3e4951; }

.separator-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2px; }
  .separator-container div {
    height: 100%;
    background: #00a0ff;
    width: 15%;
    padding: 0 100px; }

.static-widget {
  margin: 25px;
  background: #fff;
  padding: 10px; }
  .static-widget h2 {
    margin: 5px 0; }
  .static-widget ul {
    list-style: none; }
  .static-widget a {
    color: #00a0ff;
    text-decoration: none; }

.comments-container {
  padding: 0 50px; }
  .comments-container h3 {
    margin-bottom: 10px; }
  .comments-container ul, .comments-container ol {
    list-style: none; }

.comment-body {
  margin-left: 15px; }

ul.children {
  list-style: noneS;
  margin: 1% 3%; }

/* smartphone grid system */
@media (max-width: 768px) {
  .separator-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1px;
    padding: 0 10px; }
    .separator-container div {
      width: 100%; } }

/*
  slide styles */
.slide {
  color: #555;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .slide .slide-show {
    display: flex;
    width: 300vw;
    height: 100%;
    overflow: auto;
    position: absolute; }
    .slide .slide-show .slide-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 5vw; }
      .slide .slide-show .slide-item img {
        width: 90vw;
        height: 100%; }
  .slide .slide-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f8f8f8;
    padding-bottom: 25px;
    font-size: 30px; }
    .slide .slide-text div {
      height: 90%; }
    .slide .slide-text div:nth-child(1) {
      flex-direction: column;
      padding: 15% 50px 0 15%;
      align-items: flex-start; }
  .slide button {
    margin: 20px; }

.slide-title {
  color: #f8f8f8; }

.slider-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: cover;
  filter: blur(5px); }

.slide-indicator {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px; }
  .slide-indicator .indicator-item {
    height: 5px;
    width: 70px;
    margin: 0 10px;
    background: rgba(170, 170, 170, 0.3);
    border: dodgerblue;
    list-style: none; }

[rol="low-indicator"] {
  display: block;
  height: 100%;
  width: 1%;
  background: rgba(255, 255, 255, 0.7); }

.blur-slide {
  filter: blur(3px); }

/* smartphone grid system */
@media (max-width: 768px) {
  .slide {
    color: #555;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    z-index: 1; }
  .slide-title {
    font-size: 20px; }
  .indicator-item {
    height: 2px;
    width: 50px;
    margin: 0 10px;
    background: rgba(170, 170, 170, 0.3);
    border: dodgerblue;
    list-style: none; } }

.card-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 240px;
  overflow: hidden; }
  .card-list-container:visited {
    color: #555; }

.card-post,
.img-posts {
  height: 220px;
  width: 32%;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 1px 2px 2px rgba(170, 170, 170, 0.3);
  overflow: hidden;
  margin: 2% 0;
  padding: 2% 3%;
  transition: all ease .5s;
  position: relative; }

.card-post:hover {
  box-shadow: 1px 2px 2px rgba(170, 170, 170, 0.6); }

.post-title, p {
  margin-bottom: 10px; }

.post-date {
  color: #aaa;
  margin-bottom: 10px; }

.read-more {
  position: absolute;
  bottom: 10px;
  left: 10%;
  text-decoration: none;
  background: white;
  color: #54636e;
  height: 38px;
  display: block;
  padding: 2% 5% S;
  transition: all ease .3s; }
  .read-more:hover {
    color: #00a0ff; }

.img-posts {
  padding: 0 0;
  position: relative; }
  .img-posts img {
    width: 100%;
    height: 100%; }
  .img-posts .post-title-prev {
    background: rgba(0, 160, 255, 0.8);
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 5px; }
  .img-posts .img-post-detail {
    position: absolute;
    background: rgba(0, 160, 255, 0.8);
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 0;
    transition: all ease .5s; }
    .img-posts .img-post-detail .post-title, .img-posts .img-post-detail .post-date, .img-posts .img-post-detail p {
      color: #fff; }
  .img-posts:hover .img-post-detail {
    top: 0; }
  .img-posts:hover .post-title-prev {
    display: none; }

.wide-card {
  display: flex;
  background: white;
  border: 1px solid rgba(62, 73, 81, 0.1);
  border-radius: 5px;
  width: 100%;
  flex-direction: row; }
  .wide-card .post-title {
    color: #3e4951; }
  .wide-card .wide-card-image {
    width: 100%;
    height: 100%;
    border-radius: 3px; }
  .wide-card .a-title {
    text-decoration: none;
    color: #3e4951; }
    .wide-card .a-title:hover {
      color: #00a0ff; }
  .wide-card .read-more {
    position: absolute;
    bottom: 0px;
    left: 3%;
    display: block; }

.stared-post {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative; }
  .stared-post img {
    width: 50%;
    height: 100%; }
  .stared-post div {
    padding: 20px; }
  .stared-post .post-date {
    margin-bottom: 10px; }
  .stared-post button {
    bottom: 0; }

@media (max-width: 768px) {
  .card-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: max-content; }
  .card-post,
  .img-posts {
    height: 180px;
    width: 100%; }
  .wide-card .read-more {
    position: relative;
    bottom: 0px;
    left: 3%;
    display: block; }
  .stared-post {
    height: max-content;
    flex-direction: column; }
    .stared-post img {
      width: 100%;
      height: 100%; }
    .stared-post .text-card {
      width: 100%; }
    .stared-post .post-date {
      margin-bottom: 10px; } }

/* all my pages parts stuff */
header {
  position: fixed;
  background: #fff;
  color: #00a0ff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid #fff;
  height: 100px;
  padding: 0 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 2000;
  border-bottom: 5px solid #00a0ff; }
  header a {
    text-decoration: none;
    color: #00a0ff; }
  header .brand {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%; }
    header .brand h3 {
      font-size: 30px; }
  header .navigation {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    font-size: 20px;
    align-self: flex-end; }
    header .navigation div {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 50%; }
    header .navigation ul {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      width: 60%;
      height: 100%; }
      header .navigation ul a {
        display: block;
        padding: 10px 5% 5px 5%;
        text-align: center;
        width: 100%;
        height: max-content;
        cursor: pointer; }
    header .navigation .menu-item {
      width: 130px;
      margin: 0 10px;
      height: 100%; }
      header .navigation .menu-item:hover a {
        color: #5a5a5a; }
      header .navigation .menu-item li.current_menu_item a {
        border-bottom: 2px solid #fff; }
    header .navigation .sub-menu {
      background: #00a0ff;
      color: #f8f8f8;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: max-content;
      width: 170px;
      margin-top: 9px;
      visibility: hidden;
      padding: 0 0 0 0; }
      header .navigation .sub-menu .menu-item {
        width: 100%; }
        header .navigation .sub-menu .menu-item:hover {
          background: #66c6ff; }
      header .navigation .sub-menu:hover {
        visibility: visible; }
    header .navigation .menu-item:hover .sub-menu {
      visibility: visible; }
      header .navigation .menu-item:hover .sub-menu a {
        color: #f8f8f8; }

.img-logo {
  width: 90px;
  height: 90px;
  margin-right: 10px; }

.normal-header {
  border-bottom: 5px solid #00a0ff; }

@media (max-width: 768px) {
  header {
    height: 60px;
    padding: 0 5px;
    justify-content: flex-start; }
    header .brand {
      width: 80%;
      height: 100%; }
      header .brand h3 {
        font-size: 20px; }
    header .navigation {
      position: fixed;
      justify-content: center;
      height: 100vh;
      overflow: hidden;
      align-items: center;
      background: #00a0ff;
      top: 60px;
      right: -60%;
      visibility: hidden;
      z-index: 3000; }
      header .navigation .menu-item {
        height: max-content;
        width: 100%; }
        header .navigation .menu-item a {
          height: 48px; }
        header .navigation .menu-item:hover a {
          color: #f8f8f8; }
      header .navigation .sub-menu {
        visibility: hidden;
        display: none; }
      header .navigation div {
        display: block;
        height: 100%; }
      header .navigation ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden; }
        header .navigation ul li {
          height: 10%;
          width: 100%;
          border-ringht: 5px solid #fff; }
        header .navigation ul a {
          display: block;
          padding: 10px 5% 0 5%;
          text-align: center;
          width: 100%;
          height: 100%;
          font-size: 30px;
          cursor: pointer;
          color: #fff; }
          header .navigation ul a:hover {
            background: rgba(248, 248, 248, 0.1); }
        header .navigation ul li.current_menu_item a {
          border-bottom: 2px solid #fff; }
    header .showed-menu {
      visibility: visible; }
    header .admin-nav {
      top: 105px; }
  .img-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px; } }

.site-footer {
  background: #373737;
  color: #f8f8f8;
  flex-direction: column; }
  .site-footer .bigfooter, .site-footer .copyright-info {
    padding: 15px 50px;
    margin-bottom: 0; }
  .site-footer .bigfooter {
    height: 85%;
    display: flex;
    flex-direction: row; }
    .site-footer .bigfooter article {
      padding: 20px 0;
      height: 100%; }
      .site-footer .bigfooter article:nth-child(3) {
        padding-left: 50px; }
      .site-footer .bigfooter article p {
        color: #ddd; }
  .site-footer .copyright-info {
    height: 15%;
    background: #272727;
    color: #f1f1f1; }
  .site-footer .foot-menu-container ul {
    list-style: none; }
    .site-footer .foot-menu-container ul li {
      height: 100%;
      width: 100%; }
    .site-footer .foot-menu-container ul a {
      text-decoration: none;
      color: white;
      font-size: 25px; }
      .site-footer .foot-menu-container ul a:hover {
        color: #aaa; }
    .site-footer .foot-menu-container ul li.current_menu_item a {
      border-bottom: 2px solid #fff; }

.foot-section-title {
  color: #f8f8f8;
  margin-bottom: 30px; }

/* smartphone grid system */
@media (max-width: 768px) {
  .site-footer .bigfooter,
  .site-footer .copyright-info {
    padding: 10px 10px; }
  .site-footer .bigfooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 0; }
    .site-footer .bigfooter article {
      padding: 20px 0;
      width: 100%;
      min-height: max-content;
      text-align: center;
      display: flex;
      flex-direction: column; }
      .site-footer .bigfooter article:nth-child(3) {
        padding-left: 20px;
        padding-right: 20px; }
      .site-footer .bigfooter article:nth-child(1) {
        order: 2; }
  .site-footer .btn {
    display: flex;
    align-self: center; } }

.redes {
  margin: 15px 0; }

.social-icons {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer; }

.webmaster p {
  color: #bbb; }

/* post list behavior */
.sub-section {
  padding: 0 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 412px;
  margin: 20px 0; }

.post-article {
  padding-top: 50px; }
  .post-article .post-info {
    color: #333;
    margin: 5px 0 30px 0; }
  .post-article .post-author {
    font-weight: bolder; }

.p-centered-content {
  padding: 0 100px;
  margin: 20px; }

.stared-article {
  background: #00a0ff;
  margin: 0 0; }
  .stared-article .sub-section-title {
    color: #fff; }
    .stared-article .sub-section-title::first-letter {
      color: #f8f8f8; }
  .stared-article .text-card {
    display: flex;
    flex-direction: column; }
    .stared-article .text-card .post-title {
      color: #f8f8f8; }
    .stared-article .text-card p,
    .stared-article .text-card i {
      color: #ebebeb; }
  .stared-article .btn {
    align-self: flex-end; }

/* smartphone grid system */
@media (max-width: 768px) {
  .sub-section {
    min-height: max-content;
    padding: 0 15px; }
    .sub-section button {
      position: static; }
  .p-centered-content {
    padding: 0 10px;
    margin: 20px; }
  .stared-article {
    background: #00a0ff;
    margin: 0 0; }
    .stared-article .sub-section-title {
      color: #fff; }
      .stared-article .sub-section-title::first-letter {
        color: #f8f8f8; }
    .stared-article .text-card {
      display: flex;
      flex-direction: column; }
      .stared-article .text-card .post-title {
        color: #f8f8f8; }
      .stared-article .text-card i {
        color: #ebebeb; } }

.page-section {
  width: 100%;
  min-height: 100vh;
  padding: 10vh 50px 20px 50px; }
  .page-section .section-title {
    margin: 2px 0 40px 0; }

.search-section {
  display: flex;
  padding: 0 0 0 0; }

.results {
  margin: 18vh 50px 20px 50px;
  width: 60%;
  background: white; }
  .results a {
    color: #3e4951;
    font-weight: bolder;
    text-decoration: none;
    margin: 0 5px; }
    .results a:hover {
      color: #00a0ff; }

.card-list-container {
  min-height: 240px;
  height: max-content;
  align-self: center; }

.contacts-links {
  flex-direction: column; }

.img-big-logo {
  width: 350px;
  height: 350px; }

#donaciones {
  background: #00a0ff;
  min-height: 70vh;
  height: max-content; }
  #donaciones .section-title,
  #donaciones .sub-section-title {
    color: #f8f8f8;
    margin-bottom: 50px; }
  #donaciones p {
    color: #dfdfdf;
    font-size: 1.3em;
    padding: 0 15px 0 0;
    text-align: justify;
    margin-bottom: 20px;
    height: max-content; }

.info-acount {
  flex-direction: column; }

.charity-box,
.contact-item {
  background: #fff;
  width: max-content;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease .3s; }
  .charity-box:hover,
  .contact-item:hover {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1); }

.bank-acount {
  color: #00a0ff; }

.contact-item {
  margin: 2%;
  width: 250px;
  text-align: left;
  color: #f8f8f8; }

#c-fb {
  background: #3b5998; }

#c-email {
  background: #dd4b39; }

#c-twitter {
  background: #55acee; }

/* smartphone grid system */
@media (max-width: 768px) {
  .search-section {
    flex-direction: column; }
  .results {
    width: 100%;
    margin: 18vh 0 0 0;
    padding: 0 2%; } }

/*css tommy */
#single {
  padding-top: 16vh;
  margin-left: 3%;
  min-height: 120vh;
  width: 60%; }
  #single h1 {
    margin-bottom: 5px; }
  #single #titulo {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #3e4951;
    font-size: 2.1em;
    font-weight: 300; }
  #single .post-categories {
    list-style-type: none;
    display: inline; }
    #single .post-categories li {
      display: inline;
      margin: 2px; }
    #single .post-categories a {
      color: #00a0ff;
      text-decoration: none; }

#fecha {
  font-size: 16px;
  float: left;
  margin-right: 12px;
  color: #54636e; }

#separador {
  height: 1px;
  background: #aaa;
  border: none;
  width: 100%; }

#texto {
  margin: 40px 0%;
  width: 80%; }
  #texto p {
    color: #3e4951;
    font-size: 20px;
    margin-bottom: 10px;
    word-spacing: 1px;
    text-align: justify; }

form[role="search"] {
  width: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  background: #fff;
  height: 100%;
  right: 50px;
  display: none;
  padding-bottom: 5px; }
  form[role="search"] div {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    border: 1px solid #aaa;
    border-radius: 3px; }
  form[role="search"] .input {
    background: transparent;
    height: 98%;
    color: #555; }
  form[role="search"] #searchsubmit {
    min-width: 10px;
    width: 10%;
    background: transparent;
    min-height: 40px;
    height: 40px;
    border: none;
    display: none; }
  form[role="search"] #s {
    border: none;
    width: 90%;
    height: 100%;
    padding: 3%;
    font-size: 20px;
    font-weight: bolder;
    color: #3e4951; }
    form[role="search"] #s:focus {
      outline: none; }
  form[role="search"] label {
    display: none; }
  form[role="search"] .search-img {
    margin-right: 10px; }

.toggle-search {
  position: absolute;
  right: 15px;
  bottom: 0;
  cursor: pointer; }
  .toggle-search i {
    font-size: 30px;
    color: #00a0ff; }

@media (max-width: 768px) {
  form[role="search"] {
    width: 0; }
    form[role="search"] div {
      width: 100%;
      height: 90%;
      border: 1px solid #aaa;
      border-radius: 3px;
      border: none; }
      form[role="search"] div #s {
        width: 100%;
        height: 100%; }
  .toggle-search {
    position: absolute;
    right: 10px;
    bottom: 7px;
    cursor: pointer; } }

#sidebar {
  background: white;
  width: 38%;
  float: right;
  padding: 18vh 2% 2% 2%; }

.fixed-side-bar {
  background: crimson;
  width: 38%;
  position: absolute;
  right: 0;
  top: 0; }
  .fixed-side-bar #sidebar {
    width: 100%; }
    .fixed-side-bar #sidebar .static-widget {
      background: #00a0ff;
      border-radius: 7px;
      color: #f8f8f8; }
      .fixed-side-bar #sidebar .static-widget p,
      .fixed-side-bar #sidebar .static-widget h2,
      .fixed-side-bar #sidebar .static-widget a {
        background: transparent;
        color: #f8f8f8; }

/* smartphone grid system */
@media (max-width: 768px) {
  #sidebar {
    width: 100%; }
  .fixed-side-bar {
    background: crimson;
    width: 100%;
    position: relative;
    right: 0;
    top: 0; } }

.comments-container {
  margin-bottom: 50px; }
  .comments-container.post {
    width: 60%; }

.comment-author {
  position: relative; }
  .comment-author span {
    display: none; }

cite.fn {
  color: #00a0ff;
  font-weight: bolder;
  font-style: normal;
  margin-left: 20px; }
  cite.fn:after {
    content: " :"; }

.comment {
  list-style: none; }

.comment-awaiting-moderation {
  display: none; }

.comment-meta, .reply {
  padding-left: 55px; }

.comment-body {
  padding: 5px;
  border-top: 1px solid #eee;
  min-height: max-content; }
  .comment-body p {
    padding-left: 55px; }

ul.children {
  margin-right: 0; }

.comment-meta a {
  text-decoration: none;
  color: #aaa; }

.reply {
  text-align: right; }
  .reply a {
    text-decoration: none;
    padding: 5px;
    background: #00a0ff;
    color: #fff;
    margin-bottom: 5px; }

.comments-container {
  display: flex;
  flex-direction: column; }

#reply-title {
  padding: 25px;
  border-top: 1px solid #00a0ff; }

#commentform {
  width: 100%;
  overflow: hidden; }
  #commentform p {
    display: flex;
    flex-direction: column;
    padding: 0 25px; }
  #commentform .form-submit {
    display: flex;
    flex-direction: row;
    padding: 0 25px; }
    #commentform .form-submit [type="submit"] {
      background: #00a0ff;
      color: #fff;
      border: none; }
      #commentform .form-submit [type="submit"]:hover {
        background: #33b3ff; }
  #commentform textarea {
    width: 600px;
    padding: 5px; }
  #commentform [type="text"] {
    height: 38px;
    padding: 5px;
    width: 300px; }
  #commentform label {
    font-weight: bold; }

@media (max-width: 768px) {
  .comments-container.post {
    width: 100%; }
  #commentform #comment {
    width: 100%; } }
